<!--投稿一覧-->
<h1>Books</h1>

<table>

  <thead>
    <tr>
      <th class="t-title">Title</th>
      <th class="t-body">Body</th>
      <th class="t-blank" colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @books.each do |book| %>
    <tr>
      <td><%= book.title %></td>
      <td><%= book.body %></td>
      <td>
        <%= link_to "Show", book_path(book.id), method: :get %>
      </td>
      <td>
        <%= link_to "Edit", edit_book_path(book.id), method: :get %>
      </td>
      <td>
        <%= link_to "Destroy", book_path(book.id), method: :delete, "data-confirm" => "Are you sure?" %>
      </td>
    </tr>
    <% end %>

  </tbody>

</table>

<!--新規投稿-->
<h2>New book</h2>

<% if @book.errors.any? %>
<div class="error-box">
  <h2 class="error-title"><%= @book.errors.count %> errors prohibited this book from being saved:</h2>
  <ul class="error-lists">
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<%= form_with model: @book do |f| %>

  <p class="form-label">Title</p>
  <div class="form"><%= f.text_field :title %></div>

  <p class="form-label">Body</p>
  <div class="form"><%= f.text_area :body %></div>

  <div class="form"><%= f.submit 'Create Book' %></div>

<% end %>